---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <section class="bg-bg-500 p-10 md:p-20">
    <h1 class="font-notable text-[45px] md:text-[110px] text-prim-500 mb-3">INSPIRATION</h1>
    <p class="font-instrument-sans text-[16px] md:text-[18px]">Take a look at some of the submissions from the past for inspiration:</p>
    <div class="grid grid-cols-4 mt-10">
      <img src="/inspiration1.webp" alt="inspiration1" />
      <img src="/inspiration2.webp" alt="inspiration1" />
      <img src="/inspiration3.webp" alt="inspiration1" />
      <img src="/inspiration4.webp" alt="inspiration1" />
    </div>
  </section>
  <section class="bg-prim-500 p-10 md:p-20">
    <h2 class="font-notable text-[24px] md:text-[40px] text-bg2-500 mb-4">You can also get a lot of inspiration from the art Photography scene.</h2>
    <div class="grid md:grid-cols-3 md:gap-10 mt-15">
      <div>
        <h3 class="font-instrument-sans text-[20px] md:text-[28px] text-bg2-500 mb-3">Dan Isaac Wallin</h3>
        <p class="max-w-90 font-instrument-sans text-bg2-500 text-[14px] md:text-[16px]">Is a swedish art photographer, who uses large format and vintage polaroid cameras for his work. His work hangs in numerous houses as posters.</p>
        <button>knap her</button>
      </div>
      <div>
        <h3 class="font-instrument-sans text-[20px] md:text-[28px] text-bg2-500 mb-3">Mette Kelte</h3>
        <p class="max-w-90 font-instrument-sans text-bg2-500 text-[14px] md:text-[16px]">is a danish art photographer, who often experiments with deliberate destruction of the chemical process in instant photos. One of the key words here is unpredictability in the work process, which leads to interesting and unique artworks.</p>
        <button>knap her</button>
      </div>
      <div>
        <h3 class="font-instrument-sans text-[20px] md:text-[28px] text-bg2-500 mb-3">Maripol</h3>
        <p class="max-w-90 font-instrument-sans text-bg2-500 text-[14px] md:text-[16px]">is a french artist/photographer/film producer. Her claim to fame was in the 1980’s, where she photographed famous people with a Polaroid SX-70. Her photographs are still very influential in the fashion industry</p>
        <button>knap her</button>
      </div>
    </div>
    <div class="grid md:grid-cols-2 mt-15 md:ml-40">
      <div>
        <h3 class="font-instrument-sans text-[20px] md:text-[28px] text-bg2-500 mb-3">The Polaroid Book</h3>
        <p class="max-w-90 md:max-w-125 font-instrument-sans text-bg2-500 text-[14px] md:text-[16px]">The Polaroid collection was a large collection of instant photographs assembled by the Polaroid corporation and featured work from a lot of famous photographers. The collection was split into various parts and put on auction when the Polaroid corporation went into bankruptcy in 2008. Luckily, you can find books with photographs from the collection, for instance The Polaroid Book by Steve Crist and Barbara Hitchcock.</p>
        <button>knap her</button>
      </div>
      <img src="/photobook.webp" alt="photobook" />
    </div>
  </section>
</MainLayout>

<style>
  /* .grid4_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } */
</style>
