---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Winners and nominiees">
  <section class="bg-bg-500 p-10 md:p-20 grid md:grid-cols-2 gap-10">
    <div class="md:order-2">
      <h1 class="font-notable text-[45px] lg:text-[80px] text-prim-500 mb-3">WINNERS & NOMINIEES</h1>
      <div>
        <p class="font-instrument-sans text-[14px] md:text-[18px] max-w-84 md:max-w-140 mb-4">The winners of the competition will be announced on the official website and/or social media platforms of the organizers.</p>
        <p class="font-instrument-sans text-[14px] md:text-[18px] max-w-88 md:max-w-140">By participating in the competition, the winners consent to the publication of their names and submitted photos for promotional purposes.</p>
      </div>
    </div>
    <div class="relative md:order-1">
      <img src="/klemme_rød.svg" alt="klemmevenstre" class="absolute top-3 left-13 lg:top-5 lg:left-18" />
      <img src="/klemme_rød.svg" alt="klemmehøjre" class="absolute top-0 left-47 lg:top-1 lg:left-65 transform scale-x-[-1]" />
      <img src="/winners1.webp" alt="winner" class="pt-10 pl-10 pb-10 max-w-[280px] lg:max-w-[400px] h-auto z-10" />
    </div>
  </section>
  <section class="bg-prim-500 grid md:grid-cols-2 p-10 md:p-4 md:pl-10">
    <h1 class="font-notable text-bg2-500 text-[42px] md:text-[80px] md:pb-8">THANK YOU!</h1>
    <p class="font-instrument-sans text-bg2-500 max-w-88 md:max-w-140 pt-8 lg:pt-4 text-xl">Instant Day was quite a success with more than 125 contributions. So it was difficult to find a winner. After a couple of long but exciting days, the judges agreed on the winner and the 9 nominees.</p>
  </section>
  <section class="bg-bg-500 p-10 md:p-20">
    <h2 class="font-notable text-prim-500 text-[24px] md:text-[40px] md:flex items-center justify-center pb-10 md:pb-20">The winner of Instant day 2025</h2>
    <div class="grid md:grid-cols-2">
      <img src="/winner2.webp" alt="vinderbillede" class="pb-10" />
      <div>
        <h3 class="font-notable text-prim-500 text-[20px] md:text-[32px] md:pt-20">Liam Bennett</h3>
        <p class="font-instrument-sans text-[14px] md:text-[18px] pt-4">Liam’s photo stood out for its atmospheric depth and emotional impact. Despite the intentional blur, the composition guides the viewer through sea, structure, and sky. The glow from the buildings creates a haunting contrast between urban life and natural calm. There’s a dreamlike quality that captures a fleeting moment of serenity in the chaos of the city. It’s a poetic interpretation of light, space, and memory — subtle, yet unforgettable.</p>
        <p class="font-instrument-sans text-prim-500 text-[20px] md:text-[30px] pt-10 italic font-bold">By Night</p>
        <p class="ont-instrument-sans text-[14px] md:text-[18px] italic">"I took this photo during a late evening walk by the harbor. The city lights were starting to reflect off the water, and everything felt strangely quiet. I didn’t plan the blur, my hands were cold, and I just snapped it, but it captured exactly how that moment felt. Not perfect, but honest."</p>
      </div>
    </div>
  </section>
  <section class="bg-bg-500 p-10 md:p-20">
    <h2 class="font-notable text-prim-500 text-[20px] md:text-[32px] flex items-center justify-center">THE NOMINEES</h2>
    <div class="relative mt-10">
      <!-- Venstre pil -->
      <button onclick="scrollGallery(-1)" class="absolute left-4 top-45 z-10 bg-prim-500 text-bg2-500 hover:drop-shadow-[0_5px_10px_rgba(0,0,0,0.5)] p-2 rounded-full shadow-md" aria-label="Scroll left"> &#8592; </button>

      <!-- Scrollbart bånd -->
      <div id="nomineeGallery" class="flex overflow-x-auto gap-6 scroll-smooth px-3">
        <div class="min-w-[280px] max-w-[280px] flex-shrink-0 pb-12">
          <img src="/nomineret1.webp" alt="nomineret1" class="w-full h-auto" />
          <p class="font-instrument-sans text-prim-500 text-[18px] pt-6 italic font-bold">Amager Strand</p>
          <p class="font-instrument-sans pb-2">Stefan Grage</p>
          <p class="font-instrument-sans text-sm">From this angle, Copenhagen looks like a big city. Taken with a Polaroid Now+ gen 2, with a yellow tint filter.</p>
        </div>

        <div class="min-w-[280px] max-w-[280px] flex-shrink-0 pb-12">
          <img src="/nomineret2.webp" alt="nomineret2" class="w-full h-auto" />
          <p class="font-instrument-sans text-prim-500 text-[18px] pt-6 italic font-bold">Amager Forbrænding</p>
          <p class="font-instrument-sans pb-2">Stefan Grage</p>
          <p class="font-instrument-sans text-sm">I’d give my right arm for a cigarette. Taken with a Lomomatic Square.</p>
        </div>

        <div class="min-w-[280px] max-w-[280px] flex-shrink-0 pb-12">
          <img src="/nomineret3.webp" alt="nomineret3" class="w-full h-auto" />
          <p class="font-instrument-sans text-prim-500 text-[18px] pt-6 italic font-bold">New meets old</p>
          <p class="font-instrument-sans pb-2">Stefan Grage</p>
          <p class="font-instrument-sans text-sm">I used a Polaroid Now+ gen 2 in tripod mode with an i-Type black and white film in order to make a long exposure.</p>
        </div>

        <div class="min-w-[280px] max-w-[280px] flex-shrink-0 pb-12">
          <img src="/nomineret4.webp" alt="nomineret4" class="w-full h-auto" />
          <p class="font-instrument-sans text-prim-500 text-[18px] pt-6 italic font-bold">Karlstrup & coffee</p>
          <p class="font-instrument-sans pb-2">Stefan Grage</p>
          <p class="font-instrument-sans text-sm">The polaroid was soaked in coffee for a couple of weeks. That gave it a nice tan. Polaroid flip.</p>
        </div>

        <div class="min-w-[280px] max-w-[280px] flex-shrink-0 pb-12">
          <img src="/nomineret5.webp" alt="nomineret5" class="w-full h-auto" />
          <p class="font-instrument-sans text-prim-500 text-[18px] pt-6 italic font-bold">Hanklit Bakketop</p>
          <p class="font-instrument-sans pb-2">Stefan Grage</p>
          <p class="font-instrument-sans text-sm">A little snap from Hanklit Bakketop, a common place in Jylland. Taken with a Lomomatic Square.</p>
        </div>

        <div class="min-w-[280px] max-w-[280px] flex-shrink-0 pb-12">
          <img src="/nomineret6.webp" alt="nomineret6" class="w-full h-auto" />
          <p class="font-instrument-sans text-prim-500 text-[18px] pt-6 italic font-bold">Vejlands allé</p>
          <p class="font-instrument-sans pb-2">Stefan Grage</p>
          <p class="font-instrument-sans text-sm">Too wide for a single shot. Composed on a Minolta panoramic camera, printed on a Polaroid Lab with expired film.</p>
        </div>

        <div class="min-w-[280px] max-w-[280px] flex-shrink-0 pb-12">
          <img src="/nomineret7.webp" alt="nomineret7" class="w-full h-auto" />
          <p class="font-instrument-sans text-prim-500 text-[18px] pt-6 italic font-bold">Kunst</p>
          <p class="font-instrument-sans pb-2">Stefan Grage</p>
          <p class="font-instrument-sans text-sm">Art made by Erik Heide. I’ve always looked up to him. Shot on Polaroid Now+ gen 2.</p>
        </div>

        <div class="min-w-[280px] max-w-[280px] flex-shrink-0 pb-12">
          <img src="/nomineret8.webp" alt="nomineret8" class="w-full h-auto" />
          <p class="font-instrument-sans text-prim-500 text-[18px] pt-6 italic font-bold">Kolonihave</p>
          <p class="font-instrument-sans pb-2">Stefan Grage</p>
          <p class="font-instrument-sans text-sm">From the forest near my summer house on Sjælland. Expired Instax Mini film.</p>
        </div>

        <div class="min-w-[280px] max-w-[280px] flex-shrink-0 pb-12">
          <img src="/nomineret9.webp" alt="nomineret9" class="w-full h-auto" />
          <p class="font-instrument-sans text-prim-500 text-[18px] pt-6 italic font-bold">2 x Ørestad</p>
          <p class="font-instrument-sans pb-2">Stefan Grage</p>
          <p class="font-instrument-sans text-sm">A double exposure from my neighbourhood, Ørestad. Taken with a Lomomatic Square.</p>
        </div>
      </div>

      <!-- Højre pil -->
      <button onclick="scrollGallery(1)" class="absolute right-4 top-45 z-10 bg-prim-500 text-bg2-500 hover:drop-shadow-[0_5px_10px_rgba(0,0,0,0.5)] p-2 rounded-full shadow-md" aria-label="Scroll right"> &#8594; </button>
    </div>
  </section>
</MainLayout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.scrollGallery = function (direction) {
      const container = document.getElementById("nomineeGallery");
      const scrollAmount = 320;
      container.scrollBy({
        left: direction * scrollAmount,
        behavior: "smooth",
      });
    };
  });
</script>
