---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <section class="bg-bg-500 p-10 md:p-20 grid md:grid-cols-2 gap-10">
    <div class="md:order-2">
      <h1 class="font-notable text-[45px] md:text-[80px] text-prim-500 mb-3">WINNERS & NOMINIEES</h1>
      <div>
        <p class="font-instrument-sans text-[14px] md:text-[18px] max-w-84 md:max-w-140 mb-4">The winners of the competition will be announced on the official website and/or social media platforms of the organizers.</p>
        <p class="font-instrument-sans text-[14px] md:text-[18px] max-w-88 md:max-w-140">By participating in the competition, the winners consent to the publication of their names and submitted photos for promotional purposes.</p>
      </div>
    </div>
    <div class="relative md:order-1">
      <img src="/klemme_rød.svg" alt="klemmevenstre" class="absolute top-3 left-13 md:top-5 md:left-18" />
      <img src="/klemme_rød.svg" alt="klemmehøjre" class="absolute top-0 left-47 md:top-1 md:left-65 transform scale-x-[-1]" />
      <img src="/winners1.webp" alt="winner" class="pt-10 pl-10 pb-10 max-w-[280px] md:max-w-[400px] h-auto z-10" />
    </div>
  </section>
  <section class="bg-prim-500 grid md:grid-cols-2 p-10 md:p-4 md:pl-10">
    <h1 class="font-notable text-bg2-500 text-[42px] md:text-[80px] md:pb-8">THANK YOU!</h1>
    <p class="font-instrument-sans text-bg2-500 max-w-88 md:max-w-140 pt-8">Instant Day was quite a success with more than [ANTAL] contributions. So it was difficult to find a winner. After a couple of long but exciting days, the judges agreed on the winner and the [ANTAL NOMINEES] nominees.</p>
  </section>
  <section class="bg-bg-500 p-10 md:p-20">
    <h2 class="font-notable text-prim-500 text-[24px] md:text-[40px] md:flex items-center justify-center pb-10 md:pb-20">The winner of Instant day 2025</h2>
    <div class="grid md:grid-cols-2">
      <img src="/winner2.webp" alt="vinderbillede" class="pb-10" />
      <div>
        <h3 class="font-notable text-prim-500 text-[20px] md:text-[32px] md:pt-20">Liam Bennett</h3>
        <p class="font-instrument-sans text-[14px] md:text-[18px] pt-4">Liam’s photo stood out for its atmospheric depth and emotional impact. Despite the intentional blur, the composition guides the viewer through sea, structure, and sky. The glow from the buildings creates a haunting contrast between urban life and natural calm. There’s a dreamlike quality that captures a fleeting moment of serenity in the chaos of the city. It’s a poetic interpretation of light, space, and memory — subtle, yet unforgettable.</p>
        <p class="font-instrument-sans text-prim-500 text-[20px] md:text-[30px] pt-10 italic font-bold">By Night</p>
        <p class="ont-instrument-sans text-[14px] md:text-[18px] italic">"I took this photo during a late evening walk by the harbor. The city lights were starting to reflect off the water, and everything felt strangely quiet. I didn’t plan the blur — my hands were cold, and I just snapped it — but it captured exactly how that moment felt. Not perfect, but honest."</p>
      </div>
    </div>
  </section>
  <section class="bg-bg-500 p-10 md:p-20">
    <h2 class="font-notable text-prim-500 text-[20px] md:text-[32px] md:flex items-center justify-center">THE NOMINIEES</h2>
    <div><img src="" alt="" /><img src="" alt="" /><img src="" alt="" /><img src="" alt="" /></div>
    <div><img src="" alt="" /><img src="" alt="" /><img src="" alt="" /><img src="" alt="" /></div>
    <div><img src="" alt="" /><img src="" alt="" /><img src="" alt="" /><img src="" alt="" /></div>
  </section>
</MainLayout>
