---
---
<section>
    <header>

<nav>
<ul class="">
<li><a href="/src/pages/index.astro">Home</a></li>
<li><a href="/src/pages/info.astro">Info</a></li>
<li><a href="/src/pages/inspiration.astro">Inspiration</a></li>
<li><a href="/src/pages/winnersandnominees.astro">Winners</a></li>
<li><a href="/src/pages/share.astro">Save the date</a></li>
</ul>
</nav>

    </header>
</section>
