---
const { text } = Astro.props;
---

<section class="bg-prim-500 w-[270px] h-[270px] lg:w-[290px] lg:h-[290px] p-4 mt-10 
                font-instrument-sans text-[16px] lg:text-[18px] 
                text-bg-500 shadow-lg relative overflow-hidden">
                  <img src="/public/klemme_creme.svg" class="absolute -top-8 left-4 w-12 h-12" />
  <img src="/public/klemme_creme.svg" class="absolute -top-8 right-4 w-12 h-12" />
  <slot />
</section>
